// All Our Dependencies
@import "../libs/bootstrap/css/bootstrap.css";
@import "../libs/bootstrap-material-design/css/roboto.css";
@import "../libs/bootstrap-material-design/css/material-fullpalette.css";
@import "../libs/bootstrap-material-design/css/ripples.css";
//=== === ===
// Our SASS Files
@import "includes/varibles";
@import "includes/mixins";
@import "includes/stack";
// Some Styles...
body {
  width: 100%;
  height: 100%;
  font-size: $font-size-base;
}
.exercises{
	margin-top: 40px;
	& .panel-body{
		min-height: 500px;
	}
	& .exercise{
		display: inline-block;
		vertical-align: top;
		width: 33%;
		float: none;
		margin-bottom: 25px;
		& author{
			display: block;
		}
	}
}
.card-body .card-image{
	margin-bottom: 20px;
}
.more_exercises{
	display: block;
	margin-bottom: 30px;
}
.more_exercises+button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}